.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
    margin: 3px;
}

.justify-content{
    justify-content: center;
}

.item-align{
    align-items:center;
}
.bg-1{
    background-color: black;
}
.bg-2{
    background-color: #121212;
    color: white;
}
.bg-3{
    background-color: #242424;
    color: white;
}
.invert{
    filter: invert(1);
}

.r-1{
    border-radius: 8px;
}

.p-1{
    padding: 15px;
}

.m-1{
    margin:10px;
}
.point{
    cursor: pointer;
}



    /* Define scrollbar colors */
    :root {
        --scrollbar-track-color: #2b2b2b; /* Track color */
        --scrollbar-thumb-color: #4f4f4f; /* Thumb color */
    }

    /* Define scrollbar styles */
    ::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color); /* Track color */
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color); /* Thumb color */
        border-radius: 5px; /* Rounded corners */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666; /* Hover color for thumb */
    }
